*{
    margin: 0;
    padding: 0;
    
}

:root{
    --primary : #5E3BEE;
}
.btn-purple{
    border: 1px solid  var(--primary);
    color: var(--primary);
}
.text{
    
    color: #5E3BEE;
}
.herobtn{
    background-color: var(--primary);
    color: azure;
}
.hero{
    background-color: #F5FCFF;
;
}